<div class="jumbotron">
  <h1 class="display-3">Welcome to the New York Times Books!</h1>
  <p class="lead">This is a SPA (Simple Page Application) webpage project made with Angular and Bootstrap, where you can find several API calls to New York Times API service. As a result, you will retrieve information from the Book section of the NYT, such as the different book lists, the books inside each one and a search-by-author feature. Enjoy!</p>
  <hr class="my-4">
  <p>Click in navbar links to access each section of the webpage.</p>
  <img class="img-fluid rounded mx-auto d-block" src="../assets/images/nyt-books-home.jpg" alt="New York Times Books">
</div>
